let mapleader = " "

set surround
set commentary
set showmode
set scrolloff=5

set ignorecase smartcase
set number relativenumber

nmap <leader>fp :action MethodUp<CR>
nmap <leader>fn :action MethodDown<CR>

nmap <leader>g :action VcsShowCurrentChangeMarker<CR>
nmap <leader>gn :action VscShowNextChangeMarker<CR>
nmap <leader>gp :action VscShowPrevChangeMarker<CR>

nmap gd :action GotoTypeDeclaration<CR>
nmap gh :action ShowErrorDescription<CR>
nmap gr :action ShowUsages<CR>

nmap <leader>B :action ToggleLineBreakpoint<CR>
nmap <leader>K :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>cf :action ReformatCode<CR>
nnoremap <leader>f :action FindInPath<CR>

vmap <leader>y "+y
vmap <leader>d "+d
nmap <leader>P "+P
vnoremap <leader>p "_dP 

map <C-j> <C-W>j
map <C-k> <C-W>k
map <C-l> <C-W>l
map <C-h> <C-W>h
nmap <leader>u :vsplit<CR>
nmap <leader>i :split<CR>
nnoremap J :action NextTab<CR>
nnoremap K :action PreviousTab<CR>
vnoremap J :m '>+1<CR>gv=gv'
vnoremap K :m '<-2<CR>gv=gv'


nmap <C-T> :action ActivateTerminalToolWindow<CR>
nmap <C-e> :action ActivateProjectToolWindow<CR>
nmap <C-r> :action Run<CR>


nnoremap <leader>cf :action ReformatCode<CR>
nnoremap <leader>c :action CommentByBlockComment<CR>
